body {
	background-image: url(../../assets/images/earth.png);
	background-size: cover;
}

h1 {
	margin: 50px;
	text-align: center;
	font-size: 50px;
	color: blue;
}

#startPage {
	text-align: center;
}

#startButton {
	padding: 10px;
	border: none;
	background-color: white;
	color: navy blue;
	font-size: 40px;
	border-radius: 50%;
}
#timer {
	font-size: 20px;
	color: yellow;
}

#quizPage {
	background-color: blue;
	text-align: center;
	color: white;
}

input[type="radio"] {
  margin: 0 10px 0 10px;
}

#scorePage {
	text-align: center;
	color:white;
	font-size: 40px;
}


